---
title: Home
---
<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    
    <body>
        
        <div class="site homepage">

            <header id="masthead">
                <div class="box level">
                    <div class="logo"><a href="/">Lunatech. IT solutions provider.</a></div>
                
                    <nav>
                        <ul class="menu">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/services/">Services</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <!--li><a href="/jobs">Jobs</a></li-->
                        </ul>
                    </nav>
                    <dl>
                        <dt><a href="#understand">Understand</a></dt>
                        <dd id="understand"><p>We don’t just work on your business problem, we think carefully about the problem we are solving, how we are solving it and why.<br>We are a technology partner who will understand your business problems and think with you, in order to solve them.</p></dd>
                        <dt><a href="#build">Build</a></dt>
                        <dd id="build"><p>Our passion is to help customers use software technology to build software that solves interesting business problems.<br>Off-the-shelf software addresses solved problems and standard processes; when it comes to innovation, we are here to build new solutions.</p></dd>
                        <dt><a href="#deliver">Deliver</a></dt>
                        <dd id="deliver"><p>We get the job done. We know that that grand plans and shiny technology aren’t going to surprise, delight and please our customers unless we finish what we start and solve the problem at hand. We make software development projects enjoyable.
			</p>
                    </dl>
                </div>
            </header>
            <section id="content">
                <div class="box level">
                    <article id="introduction">
                        <h1>We breathe software development</h1>
                        <p>Lunatech is your software development partner. Our technology experts provide architecture and software development services in several industries for large enterprise customers. <br/><a href="/services/">More on our software services.</a> <i class="icon-circle-arrow-right"></i></p>
                    </article>
                    
                    <article id="information">
                        <h3>Lunatech Ventures</h3>
                        <p><img src="/images/ventures-icon.png" alt="research-icon">Lunatech is also a seed investor, focused on Internet and Interactive technologies. <br/><a href="http://www.lunatech-ventures.com/">View our ventures!</a> <i class="icon-circle-arrow-right"></i></p>
                        <h3>Lunatech blog</h3>
                        <p><img src="/images/research-icon.png" alt="research-icon">With techonology, open source or otherwise, Lunatech has its insights and opinions. <br/><a href="/archives/">Read what we have to say.</a> <i class="icon-circle-arrow-right"></i></p>
                    </article>
                    <article id="twitter-feed">
                        <h2><a href="http://twitter.com/LunatechLabs">Lunatech on Twitter</a></h2>
                        <!-- Start from Tweet number! -->
                    </article>
                </div>
            </section>
            
            <section id="references">
                <div class="box level">
                    <dl>
                        <dt>Sdu Uitgevers</dt>
                        <dd>
                            <div class="image-frame"><img src="/images/sdu.png" alt=""/></div>
                            <p>Since 1995, Lunatech has designed and built core infrastructure and customer-facing products that allow Sdu to manage, enrich and publish complex information.</p>
                            <span class="link-reference"><a href="/references/sdu">More&hellip;</a></span>
                        </dd>
                        <dt>UPS</dt>
                        <dd>
                            <div class="image-frame"><img src="/images/ups.png" alt=""/></div>
                            <p>For more than a decade, Lunatech has helped UPS automate and manage supply chain operations, integrating UPS partners and providing full supply chain visibility.</p>
                            <span class="link-reference"><a href="/references/ups">More&hellip;</a></span>
                        </dd>
                        <dt>Thomas Cook</dt>
                        <dd>
                            <div class="image-frame"><img  src="/images/thomascook.png" alt=""/></div>
                            <p>Lunatech has developed multimedia browser-based applications that process a variety of data and deliver a richer Thomas Cook user experience. </p>
                            <span class="link-reference"><a href="/references/tc">More&hellip;</a></span>
                        </dd>
                        <dt>Red Hat</dt>
                        <dd>
                            <div class="image-frame"><img src="/images/redhat.png" alt=""/></div>
                            <p>Lunatech and Red Hat are long time partners. Lunatech helps Red Hat’s clients to resolve technical problems and advices on complete Red Hat solutions. </p>
                            <span class="link-reference"><a href="/references/red-hat">More&hellip;</a></span>
                       </dd>
                        <dt>2organize</dt>
                        <dd>
                            <div class="image-frame"><img src="/images/2organize.png" alt=""/></div>
                            <p>Lunatech provides 2organize team extensions, to build customer-specific IT marketing solutions and integrate them with existing heterogeneous IT systems.</p>
                            <span class="link-reference"><a href="/references/2Organize">More&hellip;</a></span>
                        </dd>
                    </dl>
                </div>
            </section>
            {% include footer.html %}
        </div>        
    </body>
</html>
