---
title: Home
---
<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    
    <body>
        
        <div class="site homepage">

            <header id="masthead">
                <div class="box level">
                    <div class="logo"><a href="/">Lunatech. IT solutions provider.</a></div>
        			<img src="/images/logo-lunatech.png" alt="logo-lunatech" width="100" height="15" class="printable"/>
                    <nav>
                        <ul class="menu">
                            <li class="home active"><a href="/">Home</a></li>
                            <li><a href="/services/">Services</a></li>
                            <li><a href="/ventures/">Ventures</a></li>
                            <li><a href="/about">About</a></li>
                            <li class="contact"><a href="/contact">Contact</a></li>
                            <!--li><a href="/jobs">Jobs</a></li-->
                        </ul>
                    </nav>
                    <dl>
                        <dt><a href="#understand">Understand</a></dt>
                        <dd id="understand"><p>We don’t just work on your business problem, we think carefully about the problem we are solving, how we are solving it and why.<br>We are a technology partner who will understand your business problems and think with you, in order to solve them.</p></dd>
                        <dt><a href="#build">Build</a></dt>
                        <dd id="build"><p>Our passion is to help customers use technology to build and deploy software that solves business problems that matter. We use off-the-shelf software for standard problems; when innovation is needed, we have the creativity and expertise to design and build new solutions.</p></dd>
                        <dt><a href="#deliver">Deliver</a></dt>
                        <dd id="deliver"><p>We get the job done. We know that grand plans and shiny technology aren’t going to surprise, delight and please our customers unless we finish what we start and solve the problem at hand. We make software development projects enjoyable.
			</p>
                    </dl>
                </div>
            </header>
            <section id="content">
                <div class="box level">
                    <article id="introduction">
                        <h1>We breathe software development</h1>
                        <p>Lunatech is your software development partner. Our technology experts provide architecture and software development services in several industries for large enterprise customers. <br/><a href="/services/">More on our software services. <i class="icon-circle-arrow-right"></i></a></p>
                    </article>                    
                    <article id="information">
                        <h3>Front-end integration</h3>
                        <p>Webstandards, User Experience and usability all play a part in modern web applications and so do we.<br/><a href="/services/front-end-integration">More on our Front-end services! <i class="icon-circle-arrow-right"></i></a></p>
                        <h3>Lunatech blog</h3>
                        <p>With technology, open source or otherwise, Lunatech has its insights and opinions. <br/><a href="http://blog.lunatech.com/">Read what we have to say. <i class="icon-circle-arrow-right"></i></a></p>
                    </article>
                    <article id="twitter-feed">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LunatechLabs" data-widget-id="392945679623938048" data-chrome="noheader nofooter transparent noscrollbar noborders" data-tweet-limit="2">Tweets by @LunatechLabs</a>
                    </article>
                </div>
            </section>
            
            <section id="references">
                <div class="box level">
                    <dl>
                        <dt>Sdu Uitgevers</dt>
                        <dd>
                            <div class="image-frame"><img src="/images/sdu.png" alt=""/></div>
                            <p>Since 1995, Lunatech has designed and built core infrastructure and customer-facing products that allow Sdu to manage, enrich and publish complex information.</p>
                            <!-- <span class="link-reference"><a href="/references/sdu">More&hellip;</a></span> -->
                        </dd>
                        <dt>UPS</dt>
                        <dd>
                            <div class="image-frame"><img src="/images/ups.png" alt=""/></div>
                            <p>For more than a decade, Lunatech has helped UPS automate and manage supply chain operations, integrating UPS partners and providing full supply chain visibility.</p>
                            <!-- <span class="link-reference"><a href="/references/ups">More&hellip;</a></span> -->
                        </dd>
                        <dt>Thomas Cook</dt>
                        <dd>
                            <div class="image-frame"><img  src="/images/thomascook.png" alt=""/></div>
                            <p>Lunatech has developed multimedia browser-based applications that process a variety of data and deliver a richer Thomas Cook user experience. </p>
                            <!-- <span class="link-reference"><a href="/references/tc">More&hellip;</a></span> -->
                        </dd>
                        <dt>Red Hat</dt>
                        <dd>
                            <div class="image-frame"><img src="/images/redhat.png" alt=""/></div>
                            <p>Lunatech and Red Hat are long time partners. Lunatech helps Red Hat’s clients to resolve technical problems and advises on complete Red Hat solutions. </p>
                            <!-- <span class="link-reference"><a href="/references/red-hat">More&hellip;</a></span> -->
                       </dd>
                        <dt>2organize</dt>
                        <dd>
                            <div class="image-frame"><img src="/images/2organize.png" alt=""/></div>
                            <p>Lunatech provides 2organize team extensions, to build customer-specific IT marketing solutions and integrate them with existing heterogeneous IT systems.</p>
                            <!-- <span class="link-reference"><a href="/references/2Organize">More&hellip;</a></span> -->
                        </dd>
                    </dl>
                </div>
            </section>
            {% include footer.html %}
        </div>     
           
        <script>
            // Twitter widget script 
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        
            // http://kevinburke.github.io/customize-twitter-1.1/
            
            var CustomizeTwitterWidget = function(e) {
                window.console && console.log || (console = {
                    log: function() {},
                    debug: function() {},
                    info: function() {},
                    warn: function() {},
                    error: function() {}
                });
                var t = function(e) {
                    return isNaN(parseFloat(e)) && isFinite(e)
                }, n = function(e, t) {
                    var n = e.createElement("link");
                    return n.href = t, n.rel = "stylesheet", n.type = "text/css", n
                }, o = function(e, t) {
                    var o = n(e, t), i = e.getElementsByTagName("head")[0];
                    i.appendChild(o)
                }, i = function(e, t) {
                    return e.indexOf(t) >= 0
                }, r = function(e) {
                    return e.frameElement.id.indexOf("twitter-widget") >= 0
                }, u = function(t, n, c) {
                    for (var l = 0; l < frames.length; l++)
                        try {
                            r(frames[l])&&!i(t, frames[l].name) && (o(frames[l].document, e.url), t.push(l))
                    } catch (f) {
                        console.log("caught an error"), console.log(f)
                    }
                    t.length < n && setTimeout(function() {
                        u(t)
                    }, c)
                };
                if (void 0 === e.url)
                    return console.log("need to specify a link to your CSS file. quitting"), void 0;
                var c;
                c = void 0 === e.widget_count || t(e.widget_count) ? 1 : e.widget_count;
                var l;
                l = void 0 === e.timeout_length || t(e.timeout_length) ? 300 : e.timeout_length, setTimeout(function() {
                    u([], c, l)
                }, l)
            };
            CustomizeTwitterWidget({"url":"/styles/css/tweet.css"});
        </script>
    </body>
</html>
