    @font-face {
        font-family: 'SourceSansPro';
        src: url('http://lunatech.com/styles/fonts/SourceSansPro-Regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'SourceSansPro';
        src: url('http://lunatech.com/styles/fonts/SourceSansPro-It-webfont.woff') format('woff');
        font-weight: normal;
        font-style: italic;
    }
    @font-face {
        font-family: 'SourceSansPro';
        src: url('http://lunatech.com/styles/fonts/SourceSansPro-Bold-webfont.woff') format('woff');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: 'SourceSansPro';
        src: url('http://lunatech.com/styles/fonts/SourceSansPro-BoldIt-webfont.woff') format('woff');
        font-weight: bold;
        font-style: italic;
        }
        
html, body, h1, h2, h3, blockquote, p, ol, ul, li, img, iframe, button { 
font-family: "SourceSansPro", Helvetica, Arial, sans-serif !important; 
line-height: 1.4 !important;
}

img { display: none !important; }
li { padding-left: 0 !important; }
