        <footer>
			<article class="article-box">
                <section class="panelled">
                    <h4>About Lunatech</h4>
                    <p>Lunatech Research was founded in 1993 as an IT consulting, product research and development team. Lunatech is a team of adept self-managing architects and programmers, working with a very experienced commercial team.</p>
                </section>
                <section class="panelled">
					<h4>Lunatech Research B.V.</h4>
					<p>
						Heemraadssingel 70 <br/>
						3021 DD Rotterdam, <br/>
						The Netherlands
					</p>
					<p>
						Tel: +31 10 750 2600<br/>
						Fax: +31 10 243 9902<br/>
						Email: contact@lunatech.com
					</p>
                </section>
                <section class="panelled">
                    <h4>Partners’ websites</h4>
                    <ul>
                        <li><a href="">Lunatech Ventures</a></li>
                        <li><a href="">Minoto Video</a></li>
                        <li><a href="">4wayGolf</a></li>
                    </ul>
                </section>
			</article>
            <p>Copyright &copy; 2005-2012, Lunatech Labs B.V. All rights reserved.</p>
        </footer>
