---
layout: page
path_prefix: ../
title: Services
categories: [Publishing, Logistics, Technology]
summary: From application design, development or prototyping, through database, system and network integration to the fields of security and message flows. Lunatech Research has the people that make exceptional things happen. Our main focus is on open source software and open standards, but we also have a excellent track record in interfacing with proprietary systems.
---
{% for article in site.categories.services %}
	{% if article.level == "top" %}
	<p><a href="../{{ article.url | replace:'.html','' }}">{{ article.title }}</a>
	<br>{{ article.summary }}</p>
	{% endif %}
{% endfor %}
