/*  ###########################################################################
    Author:     Lunatech Research
    ########################################################################### */

//  This LESS file is only used for this project. Each project would require
//  its own 'app.less' file or whatever you will call it. 
//  The 'main.less' file is where you can add as many files you want.

//  NOTE: This files comes after all the FEP rules so you can override them

 
/*  LAYOUT */

    @topbar-height: 5.45em;
    
    body {
        color: @text-color;
        background-color: @lightBlue;
        &:before {
            display: none;
        }
    }
    
    .site .level {
        position: relative;
        margin: 0 auto;
        min-width: 768px;
        max-width: @max-width;
    }



// Page Header
    
    
    #masthead {
        position: relative;
        color: @lightBlue;
        width: 100%;
        height: @topbar-height;
        background-color: @grey6;
        background-color: fadeout(@grey7,10%);
        overflow: hidden;
    }
    #masthead .level {
        padding: 0;
    }
    #masthead .logo {
        position: absolute;
        top:0;
        z-index: 42;
        margin: 0;
        width: 25%;
        height: @topbar-height;
        font-size: 1em;
        line-height: normal;
        background-color: @grey8;
        a {
            display: block;
            height: @topbar-height;
            text-indent: -3000px;
            color: @light-color;
            background: transparent url(/styles/images/logo-lunatech-white.png) no-repeat center center;
            background: none, transparent url(/styles/images/logo-lunatech-white.svg) no-repeat center 25%;
            background-size: 13em;
        }
    }
    
    .printable {
        display: none;
    }
    
    .dialog-cookies { 
        position: absolute;
        position: fixed;
        top:0;
        left:0;
        z-index:4242;
        padding: 0.2em @block;
        width:100%;
        height: auto;
        font-size: @brevier;
        color: @lightBlue;
        background-color: @grey8;
        .box-sizing(border-box);
        h3{
            font-size: @garamond;
            font-weight: bold;
            display: inline;
            padding-right: @em;
            color: @light-color;
        }
        p {
            display: inline;
        }
        button {
            float: right;
            font-weight: bold;
        }
        i {
            margin-right: 0.2em; 
            font-size: 1.3em;
            color: @yellow2;
        }
    }
    
    
//  Navigation
    
    #masthead .menu {
        display: block;
        margin: 0 @block/2;
        padding: 0;
        height: (@topbar-height - 0.1em);
        text-align: right;
        list-style: none;
        line-height: 3.5;
    }
    #masthead .menu li{
        display: inline-block;
        list-style: none;
    }
    #masthead .menu a {
        display: inline-block;
        padding: @interline @block/2; 
        font-family: @typeface-header;
        color: @grey0;
    }
    #masthead .menu a:hover  {
        color: @blue1;
    }
    #masthead .menu .active a {
        color: @orange2;
    }
    
    
//  Main content block

    #content {
        background-color: @light-color;
    }

    #content .level {
        padding: 0;
        min-height: @max-width/2.5;
        overflow: hidden;
    }
    
    #content hgroup,
    #content section{
        margin:@interline*2 0 @interline *2;
    }
    #content hgroup  {
        h5 {
            font-size: @brevier;
        }
        [class^="icon-"]:before {
            margin-left: @em/3;
            color: @grey3;
        }
    }
    
    #content article{
        .box;
        margin-top: 0;
        float: left;
        width: 75%;
        max-width: @text-block;
        overflow: visible;
        h1 {
            color: @blue2;
        }
    }
    
    #content article {
        h2, h3, h4, h5,h6 {
            margin-top: @interline * 1.5;
        }
    }
    
    #content article a:hover {
        text-decoration: underline;
    }
    
    .childpage #content article p img {
        float: right;
    }
    #content blockquote:before {
        content: "\"";
        position: relative;
        margin-left: -(@block);
        float: left;
        font-size: 3em;  
        line-height: 1;      
        font-family: @typeface-alt;
        color: darken(@lightBlue,10%);
        }
    #content aside{
        position: relative;
        float: left;
        width: 25%;
        font-family: @typeface-header;
        .clearfix;
        nav {
            position: relative;
            top:0;
            left:0;
            padding: @interline * 1.5 0;
            width: 100%;
            background-color: @lightBlue;
        }
    }
    #content aside h3 {
        .h4;
        margin: @interline * 2 0 0;
        padding: 0 @block/2;
        text-align: right;
    }
    #content aside ul {
        display: block;
        padding: @interline 0;
        text-align: right;
        list-style: none;
    }
    #content aside li {
        position: relative;
            display: block;
    }
    #content aside ul a {
        display: block;
        padding: 0 @block/2;
        color: @grey4;
    }
    #content aside ul a:hover {
        color: @blue1;
    }
    #content aside ul .active a {
        color: @grey8;
    }
    #content aside ul .active:after {
        content: "\f0da";
        position: absolute;
        top: 0;
        right: -0.3em;
        font-size: 2em;
        line-height: 1;
        font-family: 'FontAwesome';
        color: @lightBlue;
    }
    
    .copy-ventures.fullwidth p {
        padding-right: 150px;
    }
    .copy-ventures.fullwidth td p {
        padding-right: 0;
    }
    .copy-ventures.fullwidth img {
        float: right;
    }
    
    
//  FORMS
    
    form {
        max-width: 85%;
    }
    .hidden {
        display: none;
    }
    textarea {
        .appearance(textfield);
    }

    .notice {
        position: relative;
        float:right;
        margin: 0;
        padding:1em 1em 1em 2em;
        width:47.5%;
        font-size:0.75em;
        line-height:1.3;
        font-family: @typeface-header;
        background-color:lightYellow;
        color:@grey7;
        i[class^='icon-']{
            position: absolute;
            left: 0.5em;
            font-size:1.2em;
            color:@blue1;
        }
    }
//  Footer


    #miscellaneous {
        clear: both;
        color: @grey4;
        background-color: @grey8;
        width: 100%;
    }
    #miscellaneous h4{
        color: @grey0;
    }
    #miscellaneous h4 i{
        font-size: 0.825em;
        color: @grey3;
    }
    #miscellaneous ul,
    #miscellaneous .level {
        margin: 0 auto;
        padding: 0;
    }
    #miscellaneous li.box {
        float: left;
        width: 25%;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #miscellaneous dl,
    #miscellaneous dd,
    #miscellaneous ul,
    #miscellaneous li {
        margin: 0;
        list-style: none;
    }
    #miscellaneous li a {
        position: relative;
        font-family: @typeface-header;
        color: darken(@lightBlue,10%);
        &:before {
            position: absolute;
            content: "\f0c1";
            left: -(@em/1.2);
            font-size: 0.825em;
            line-height: 2.2;
            font-family: 'FontAwesome';
            color: @grey6;
        }
        &:hover {
            color: darken(@lightBlue,30%);
        }
    }
    #copyright {
        .box;
        margin-bottom: 0;
        clear: both;
        font-size: 0.825em;
        font-family: @typeface-header;
        color: @grey5;
    }

    #miscellaneous span[class^="link-"] {
        font-size: 0.825em;
        font-family: @typeface-header;
        a {
            color: @grey4;
        }
    }
    #miscellaneous span[class^="link-"] a:before {
        content: none;
    }
    
    
/* HOMEPAGE Overrides */
    
    .homepage {
        @import "homepage";
    }
    

    @media screen and (max-width: 60em) {
        #miscellaneous li img {
            display: none;
        }
       #miscellaneous .level > ul > li:nth-child(3n+0):before {
            content: "Google Maps";
            display: block;
            .h4;
            margin-top: @interline/2;
            color: @grey2;
        }
    }
        
    
    @media screen and (min-height: 745px) and (min-width: 1024px) {
        
        #masthead {
            position: fixed;
            z-index: 42;
        }

        #content {
            padding-top: @topbar-height;
        }
        #content article{
            margin-left: 25%;
        }
        #content aside{
            position: fixed;
            float: none;
            width: 100%;
            max-width: @max-width;
            nav {
                position: absolute;
                width: 25%;
            }
        }
    }
    
    @media screen and (max-width: 740px) {
        body:before {
            content:"SMALL";
        }
        @import "small-device";
    }
    
    #content .fullwidth {
        max-width: 75%;
        table {
            margin-top: @interline * 2;
            table-layout: fixed;
        }
        th {
            font-family: @typeface-header;
            font-weight: normal;
            text-transform: capitalize;
            color: @red1;
        }
        th, td {
            border-bottom: @l solid @grey1;
            border-right: @block solid @light-color;
            padding:@interline 0 @interline 0;
        }
        h3 {
            margin: 0;
        }
    }

    
    .ventures,
    .references,
    .contact,
    .about,
    .services {
        .loaded {
            position: relative;
            ul {
                margin-top: 13em;
            }
        }
    }
    #content aside .loaded:before {
        position: absolute;
        top: 0;
        content: " ";
        display: block;
        width: 100%;
        height: 14em;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .references .loaded:before {
        background-image: url(/styles/images/header-references.jpg);
    }
    .ventures .loaded:before {
        background-image: url(/styles/images/header-ventures.jpg);
    }
    .services .loaded:before {
        background-image: url(/styles/images/header-services.jpg);
    }
    .about .loaded:before {
        background-image: url(/styles/images/header-serverroom.jpg);
    }
    .contact .loaded:before {
        background-image: url(/styles/images/header-contact.jpg);
    }
    

    
