<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ page.title }} - Lunatech</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../styles/css/main.css">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" data-main="../../../../scripts/init" src="../../../../scripts/require-jquery.js"></script>
        <meta name="description" content="Our technology experts provide architecture and software development services in several industries, including logistics and transportation, and publishing." />
    </head>
    <body>
        
        <header>
	        <nav>
	            <ul>
	                <li class="home"><a href="/index">Home</a></li>
	                <li class="services active"><a>Services</a></li>
	                <li class="about"><a href="/editorials">Editorials</a></li>
	                <li class="about"><a href="/about">About</a></li>
	            	<li class="contact"><a href="/contact">Contact</a></li>
	            	<li class="employment"><a href="/jobs">Jobs</a></li>
	            </ul>
	        </nav>
        </header>
        
        <section class="content">
	        <article class="research">
	            <hgroup>
	                <h1>{{ page.title }}</h1>
	                {% if page.author %}
	                <h5>
	                	By <a href="">{{ page.author }}</a> on {{ page.date | date_to_long_string }}
						{% for tag in page.tags %}
							<a class="tag" href="/editorials/tags/{{ tag }}">#{{ tag }}</a>
						{% endfor %}
	                </h5>
	                {% endif %}
	            </hgroup>
	            <section class="summary">
	            	<!-- CMS content -->
		            {{ page.summary | markdownify }}
	            </section>
	            <section class="bodytext">
					{{ content }}
	            </section>
	            <section class="signature">
		            {{ page.signature | markdownify }}
	            </section>
				<p>Please send comments on this article to editorial@lunatech.com</p>
	        </article>
            <aside>
                <h3>Tags</h3>
                <ul>
            		<li><a href="/editorials/tags/drools">Drools</a></li>
            		<li><a href="/editorials/tags/event">Event</a></li>
            		<li><a href="/editorials/tags/jpa">JPA</a></li>
            		<li><a href="/editorials/tags/playframework">playframework</a></li>
            		<li><a href="/editorials/tags/scala">Scala</a></li>
                </ul>
                <h3>Related articles</h3>
                <ul>
	            	{% for article in site.related_posts %}
	            		<li><a href="/{{ article.url | replace:'.html','' }}">{{ article.title }}</a></li>
	            	{% endfor %}
                </ul>
            </aside>
        </section>
       	{% include footer.html %}

    </body>
</html>