<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ page.title }} - Lunatech</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ page.path_prefix }}styles/css/main.css">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" data-main="{{ page.path_prefix }}scripts/init" src="{{ page.path_prefix }}scripts/require-jquery.js"></script>
        <meta name="description" content="Our technology experts provide architecture and software development services in several industries, including logistics and transportation, and publishing." />
    </head>
    <body>
        
        <header>
			{% for c in page.categories %}
				{% assign selected = c %}
			{% endfor %}
	        <nav>
	            <ul>
	                <li class="home"><a href="/">Home</a></li>
	                <li class="services{% if selected == 'services' %} active{% endif %}"><a>Services</a></li>
	                <li class="archives"><a href="/archives/">Editorials</a></li>
	                <li class="about{% if selected == 'about' %} active{% endif %}"><a href="/about">About</a></li>
	            	<li class="contact{% if selected == 'contact' %} active{% endif %}"><a href="/contact">Contact</a></li>
	            	<li class="employment{% if selected == 'jobs' %} active{% endif %}"><a href="/jobs">Jobs</a></li>
	            </ul>
	        </nav>
        </header>
        
        <section class="content">
	        <article class="research">
	            <hgroup>
	                <h1>{{ page.title }}</h1>
	                {% if page.author %}
	                <h5>
	                	By <a href="">{{ page.author }}</a> on {{ page.date | date: "%d %B %Y" }}
						{% for tag in page.tags %}
							<a class="tag" href="/editorials/tags/{{ tag }}.html">#{{ tag }}</a>
						{% endfor %}
	                </h5>
	                {% endif %}
	            </hgroup>
	            <section class="summary">
		            {{ page.summary | markdownify }}
	            </section>
	            <section class="bodytext">
					{{ content }}
	            </section>
	        </article>
            <aside>
				{{ page.sidebar | markdownify }}
				
				{% for category in page.categories %}
					{% case category %}
						{% when 'about' %}
							<h3>More about Lunatech</h3>
							<ul>
							{% for article in site.categories.about reversed %}
								<li><a href="/{{ article.url | replace:'.html','' }}">{{ article.title }}</a></li>
							{% endfor %}
							</ul>
						{% when 'jobs' %}
							<h3>Vacancies</h3>
							<ul>
							{% for article in site.categories.jobs reversed %}
								<li><a href="/{{ article.url | replace:'.html','' }}">{{ article.title }}</a></li>
							{% endfor %}
							</ul>
						{% when 'services' %}
							<h3>Lunatech Services</h3>
							<ul>
							{% for article in site.categories.services reversed %}
								<li><a href="/{{ article.url | replace:'.html','' }}">{{ article.title }}</a></li>
							{% endfor %}
							</ul>
					{% endcase %}
				{% endfor %}
            </aside>
        </section>
       	{% include footer.html %}
        
    </body>
</html>