<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title }} - Lunatech</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/styles/css/main.css" media="screen" />
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" data-main="scripts/minified/init-min" src="scripts/minified/require-min.js"></script>
</head>
<body>
        
    <div class="site childpage">

	<header id="masthead">
		<div class="box level">
			<div class="logo"><a href="/">Lunatech</a></div>
			{% for c in page.categories %}
				{% assign selected = c %}
			{% endfor %}
	        <nav>
				<ul class="menu">
	                <li class="home"><a href="/">Home</a></li>
	                <li class="{% if selected == 'services' %} active{% endif %}"><a href="/services">Services</a></li>
	                <!--li class="archives"><a href="/archives/">Editorials</a></li-->
	                <li class="{% if selected == 'about' %} active{% endif %}"><a href="/about">About</a></li>
	            	<li class="{% if selected == 'contact' %} active{% endif %}"><a href="/contact">Contact</a></li>
	            	<!--li class="jobs{% if selected == 'jobs' %} active{% endif %}"><a href="/jobs">Jobs</a></li-->
	            </ul>
	        </nav>
		</div>
	</header>
        
	<section id="content">
		<div class="box level">
            <aside class="{{ page.categories }}">			
				{% for category in page.categories %}
					{% case category %}
						{% when 'about' %}
							<h3>More about Lunatech</h3>
							<ul>
							{% for article in site.categories.about reversed %}
								<li><a href="/{{ article.url | replace:'.html','' }}">{{ article.title }}</a></li>
							{% endfor %}
							</ul>
						{% when 'jobs' %}
							<h3>Vacancies</h3>
							<ul>
							{% for article in site.categories.jobs reversed %}
								<li><a href="/{{ article.url | replace:'.html','' }}">{{ article.title }}</a></li>
							{% endfor %}
							</ul>
						{% when 'services' %}
							<h3>Lunatech Services</h3>
							<ul>
							{% for article in site.categories.services reversed %}
								<li><a href="/{{ article.url | replace:'.html','' }}">{{ article.title }}</a></li>
							{% endfor %}
							</ul>
					{% endcase %}
				{% endfor %}
            </aside>
	        <article class="">
                <h1>{{ page.title }}</h1>
	            <section class="summary">
		            {{ page.summary | markdownify }}
	            </section>
	            <section class="bodytext">
					{{ page.sidebar | markdownify }}
	            
					{{ content }}
	            </section>
	        </article>
		</div>
	</section>
	{% include footer.html %}
        
</body>
</html>