<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ page.title }} - Lunatech</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">
        <link rel="stylesheet" type="text/css" media="screen" href="../../styles/css/main.css">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" data-main="../../scripts/init" src="../../scripts/require-jquery.js"></script>
        <meta name="description" content="Our technology experts provide architecture and software development services in several industries, including logistics and transportation, and publishing." />
    </head>
    <body>
        
        <header>
	        <nav>
	            <ul>
	                <li class="home"><a href="../../index.html">Home</a></li>
	                <li class="services active"><a>Services</a></li>
	                <li class="about"><a href="../../about.html">About</a></li>
	            	<li class="contact"><a href="../../contact.html">Contact</a></li>
	            	<li class="employment"><a href="/jobs/">Jobs</a></li>
	            </ul>
	        </nav>
        </header>
        
        <section class="content">
	        <article class="research">
	            <hgroup>
	                <h1>Articles tagged {{ page.title }}</h1>
	            </hgroup>
	            <section class="bodytext">
					{{ content }}
	            </section>
	        </article>
        </section>
       	{% include footer.html %}
        
    </body>
</html>